
        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="/assets/flowers.jpg" width="500px" height="500px">
            <h2 class="featurette-heading">We Are
                <span class="text-muted">Lincoln Park Florists</span>
            </h2>
            <p class="lead">At MyFlowerShop in Lincoln Park, we strive to give the best floral arrangements the area has to offer. From wedding bouquets, to simple everyday arrangments, we have it all!</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="/assets/flowertruck.jpg" width="500px" height="500px">
            <h2 class="featurette-heading">Did I Mention We Deliver?
                <span class="text-muted">Call for a quick delivery</span>
            </h2>
            <p class="lead">We all live busy lives. If you're in need of a quick arrangement, give us a ring. If you call between 8am-12pm, and we can guarentee your delivery by 5pm or your money back!</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="/assets/orangeflower.jpg" width="500px" height="500px">
            <h2 class="featurette-heading">Contact Us
                <span class="text-muted">if you have any questions</span>
            </h2>
            <p class="lead">If you have any questions, give us a call at <a href="tel:123-456-7890">123-456-7890</a>. You can also reach us at <a href="mailto:support@myflowershop.com">support@myflowershop.com</a></p>
        </div>

        <hr class="featurette-divider">
