<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; MyFlowerShop 2015</p>
            <span class="right"><a href="tel:123-456-7890">123-456-7890</a></span>
        </div>
    </div>
</footer>
